.full-post {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: solid black 1px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.like-button {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.like-button:active {
    background-color: grey;
}

.author-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
